.networkContainer {
    height: 100%;
    width: 100%;
    /*backgroundColor: rgba(239, 239, 239, 1);*/
    background:linear-gradient(rgba(255, 255, 255, 1), rgba(118, 118, 118, 1)) !important;
}

.header {
    padding: 10px;
    margin: 10px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(118, 118, 118, 1)) !important;
    position: absolute;
    z-index: 10;
}
.childrenContainer {
    height: 100vh;
    background-color: rgba(239, 239, 239, 1);

}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


.selectButton:hover {
    background-color: #A2C2C2 !important;
    color:white !important;
}
.deselectButton:hover {
    background-color: #A2C2C2 !important;
    color:white !important;

}