.networkContainer {
    height: 100%;
    width: 100%;
    /*backgroundColor: rgba(239, 239, 239, 1);*/
    background:linear-gradient(rgba(255, 255, 255, 1), rgba(118, 118, 118, 1)) !important;
}

.header {
    padding: 10px;
    margin: 10px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(118, 118, 118, 1)) !important;
    position: absolute;
    z-index: 10;
}
.childrenContainer {
    height: 100vh;
    background-color: rgba(239, 239, 239, 1);

}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


.selectButton:hover {
    background-color: white !important;
    color:#A2C2C2 !important;
}
.deselectButton:hover {
    background-color: white !important;
    color:#A2C2C2 !important;

}

#filter {
    width: 35px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}



#filter span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#filter.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    left: 0px;
}

#filter.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#filter.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px !important;
    left: 0px;
    width: 100%;
}


#filter span:nth-child(1) {
    top:0px;
    width:100%
}
#filter span:nth-child(2) {
    top:10px !important;
    width:80%;
    left:3px;
}
#filter span:nth-child(3) {
    top:20px !important;
    width:60%;
    left:6px;
}

#search-node-types {
    display: flex;
}
